In [2]:
# import the necessary functions for analysis
import pandas as pd
import os
import csv

In [5]:
# define the path for the data
game_path = "Resources/purchase_data.csv"

In [6]:
# read with pandas
game_df = pd.read_csv(game_path)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
# understand game data
game_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [80]:
unique_players_df = game_df['SN'].value_counts()

In [93]:
# of players that have purchased
player_count = len(unique_players_df)
player_count

576

In [12]:
# purchasing analysis (total)- number of unique Items

items_df = game_df['Item ID'].value_counts()
unique_items= len(items_df)
unique_items

179

In [95]:
# purchasing analysis (total)- average purchase price

ave_price = game_df['Price'].mean()

#format price to 2 decimals
ave_price_fm = "{:.2f}".format(ave_price)
print(ave_price_fm)

3.05

In [75]:
# purchasing analysis (total)- total number of purchases

total_purchase = len(game_df['Purchase ID'])
total_purchase

780

In [97]:
# total revenues
total_revenue = game_df['Price'].sum()
#format total revenue
total_revenue_fm = "{:.2f}".format(total_revenue)
total_revenue_fm

'2379.77'

In [98]:
#purchasing analysis summary (player count, first summary data)
purch_anal= f"""
Total number of players: {player_count}

Number of unique items: {unique_items}
Average purchase price: ${ave_price_fm} 
Total number of purchases: {total_purchase}  
Total revenue: ${total_revenue_fm}
"""
          
print(purch_anal)

Total number of players: 576

Number of unique items: 179
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2379.77

In [35]:
# gender demos: Count of unique male

male_players_df= game_df.loc[game_df['Gender']=="Male",["SN"]]
male_players_df.head()
uniq_male_df = male_players_df.value_counts()
tot_males = len(uniq_male_df)
tot_males

484

In [113]:
# gender demos: % of males
perc_males =float(tot_males/player_count)

perc_males_fm = print(f"{int(perc_males*100)}%")
perc_males_fm

84%

In [85]:
# gender demos: Count of unique females

female_players_df= game_df.loc[game_df['Gender']=="Female",["SN"]]
female_players_df.head()
uniq_fem_df = female_players_df.value_counts()
tot_females = len(uniq_fem_df)
tot_females

81

In [38]:
# gender demos: % of females
perc_females =float(tot_females/player_count)
perc_females

0.140625

In [68]:
# gender demos: Count of unique other

other_players_df= game_df.loc[game_df['Gender']=="Other / Non-Disclosed",["SN"]]
other_players_df.head()
uniq_other_df = other_players_df.value_counts()
tot_other = len(uniq_other_df)
tot_other

11

In [70]:
# gender demos: count of other
unique_tot_other = player_count - tot_females - tot_males
unique_perc_other = 1 - perc_females - perc_males

unique_tot_other, unique_perc_other

(11, 0.01909722222222221)

In [50]:
# purchase analysis - group by gender
gender_groups = game_df.groupby(['Gender'])
gender_grp_df = gender_groups.sum()
gender_grp_df

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60698  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [52]:
#purchase revenue female
tot_female_val = gender_grp_df.loc["Female", "Price"]
tot_female_val

361.93999999999966

In [60]:
#purchase count female
tot_female_purcnt = len(female_players_df)
tot_female_purcnt

113

In [61]:
#purchase aver price female
ave_price_female = tot_female_val / tot_female_purcnt
ave_price_female

3.203008849557519

In [62]:
#ave purchase total per person by gender (female)
ave_purchase_tot_fem = tot_female_val / tot_females
ave_purchase_tot_fem

4.4683950617283905

In [53]:
#purchase revenue male
tot_male_val = gender_grp_df.loc["Male", "Price"]
tot_male_val

1967.6399999999994

In [63]:
#purchase count male
tot_male_purcnt = len(male_players_df)
tot_male_purcnt

652

In [64]:
#purchase aver price male
ave_price_male = tot_male_val / tot_male_purcnt
ave_price_male

3.0178527607361953

In [65]:
#ave purchase total per person by gender (male)
ave_purchase_tot_mal = tot_male_val / tot_males
ave_purchase_tot_mal

4.065371900826445

In [54]:
#purchase revenue other
tot_other_val = gender_grp_df.loc["Other / Non-Disclosed", "Price"]
tot_other_val

50.190000000000005

In [71]:
#purchase count other
tot_other_purcnt = len(other_players_df)
tot_other_purcnt

15

In [72]:
#purchase aver price other
ave_price_other = tot_other_val / tot_other_purcnt
ave_price_other

3.3460000000000005

In [74]:
#ave purchase total per person by gender (Other)
ave_purchase_tot_other = tot_other_val / unique_tot_other 
ave_purchase_tot_other

4.562727272727273

In [37]:
# gender demos: Count of unique females

female_players_df= game_df.loc[game_df['Gender']=="Female",["SN"]]
female_players_df.head()
uniq_fem_df = female_players_df.value_counts()
tot_females = len(uniq_fem_df)
tot_females

81

In [115]:
# Gender demographics data table
gender_dicts = {
        "Gender" : ["Male", "Female", "Other"],
        "Count"  : [tot_males, tot_females, tot_other],
        "Percent of whole" : [perc_males, perc_females, unique_perc_other]   
    } 

gender_dicts

{'Gender': ['Male', 'Female', 'Other'],
 'Count': [484, 81, 11],
 'Percent of whole': [0.8402777777777778, 0.140625, 0.01909722222222221]}

In [105]:
gender_df=pd.DataFrame(gender_dicts)
gender_df

   Gender  Count  Percent of whole
0    Male    484          0.840278
1  Female     81          0.140625
2   Other     11          0.019097