In [1]:
# import the necessary functions for analysis
import pandas as pd
import os
import csv

In [2]:
# define the path for the data
game_path = "Resources/purchase_data.csv"

In [3]:
# read with pandas
game_df = pd.read_csv(game_path)
game_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# understand game data
game_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
unique_players_df = game_df['SN'].value_counts()

In [6]:
# of players that have purchased
player_count = len(unique_players_df)
player_count

576

In [7]:
# purchasing analysis (total)- number of unique Items

items_df = game_df['Item ID'].value_counts()
unique_items= len(items_df)
unique_items

179

In [8]:
# purchasing analysis (total)- average purchase price

ave_price = game_df['Price'].mean()

#format price to 2 decimals
ave_price_fm = "{:.2f}".format(ave_price)
print(ave_price_fm)

3.05

In [9]:
# purchasing analysis (total)- total number of purchases

total_purchase = len(game_df['Purchase ID'])
total_purchase

780

In [10]:
# total revenues
total_revenue = game_df['Price'].sum()
#format total revenue
total_revenue_fm = "{:,.2f}".format(total_revenue)
total_revenue_fm

'2,379.77'

In [11]:
#purchasing analysis summary (player count, first summary data)
purch_anal= f"""
Total number of players: {player_count}

Number of unique items: {unique_items}
Average purchase price: ${ave_price_fm} 
Total number of purchases: {total_purchase}  
Total revenue: ${total_revenue_fm}
"""
          
print(purch_anal)

Total number of players: 576

Number of unique items: 179
Average purchase price: $3.05
Total number of purchases: 780
Total revenue: $2,379.77

In [12]:
# gender demos: Count of unique male

male_players_df= game_df.loc[game_df['Gender']=="Male",["SN"]]
male_players_df.head()
uniq_male_df = male_players_df.value_counts()
tot_males = len(uniq_male_df)
tot_males

484

In [13]:
# gender demos: % of males
perc_males =float(tot_males/player_count)

perc_males_fm = print(f"{int(perc_males*100)}%")
perc_males_fm

84%

In [14]:
# gender demos: Count of unique females

female_players_df= game_df.loc[game_df['Gender']=="Female",["SN"]]
female_players_df.head()
uniq_fem_df = female_players_df.value_counts()
tot_females = len(uniq_fem_df)
tot_females

81

In [15]:
# gender demos: % of females
perc_females =float(tot_females/player_count)


perc_females_fm = print(f"{int(perc_females*100)}%")
perc_females_fm

14%

In [16]:
# gender demos: Count of unique other

other_players_df= game_df.loc[game_df['Gender']=="Other / Non-Disclosed",["SN"]]
other_players_df.head()
uniq_other_df = other_players_df.value_counts()
tot_other = len(uniq_other_df)
tot_other

11

In [17]:
# gender demos: count of other
unique_tot_other = player_count - tot_females - tot_males
unique_perc_other = 1 - perc_females - perc_males

unique_perc_fm = print(f"{int(unique_perc_other*100)}%")


unique_tot_other, unique_perc_fm

1%

(11, None)

In [18]:
# purchase analysis - group by gender
gender_groups = game_df.groupby(['Gender'])
gender_grp_df = gender_groups.sum()

In [19]:
#purchase revenue female
tot_female_val = gender_grp_df.loc["Female", "Price"]
tot_female_val

361.93999999999966

In [20]:
#purchase count female
tot_female_purcnt = len(female_players_df)
tot_female_purcnt

113

In [21]:
#purchase aver price female
ave_price_female = tot_female_val / tot_female_purcnt
ave_price_female

3.203008849557519

In [22]:
#ave purchase total per person by gender (female)
ave_purchase_tot_fem = tot_female_val / tot_females
ave_purchase_tot_fem

4.4683950617283905

In [23]:
#purchase revenue male
tot_male_val = gender_grp_df.loc["Male", "Price"]
tot_male_val

1967.6399999999994

In [24]:
#purchase count male
tot_male_purcnt = len(male_players_df)
tot_male_purcnt

652

In [25]:
#purchase aver price male
ave_price_male = tot_male_val / tot_male_purcnt
ave_price_male

3.0178527607361953

In [26]:
#ave purchase total per person by gender (male)
ave_purchase_tot_mal = tot_male_val / tot_males
ave_purchase_tot_mal

4.065371900826445

In [27]:
#purchase revenue other
tot_other_val = gender_grp_df.loc["Other / Non-Disclosed", "Price"]
tot_other_val

50.190000000000005

In [28]:
#purchase count other
tot_other_purcnt = len(other_players_df)
tot_other_purcnt

15

In [29]:
#purchase aver price other
ave_price_other = tot_other_val / tot_other_purcnt
ave_price_other

3.3460000000000005

In [30]:
#ave purchase total per person by gender (Other)
ave_purchase_tot_other = tot_other_val / unique_tot_other 
ave_purchase_tot_other

4.562727272727273

In [31]:
# gender demos: Count of unique females

female_players_df= game_df.loc[game_df['Gender']=="Female",["SN"]]
female_players_df.head()
uniq_fem_df = female_players_df.value_counts()
tot_females = len(uniq_fem_df)
tot_females

81

In [32]:
# Gender demographics data table
gender_dicts = {
        "Gender" : ["Male", "Female", "Other"],
        "Count"  : [tot_males, tot_females, tot_other],
        "Percent of whole" : [perc_males, perc_females, unique_perc_other]   
    } 

gender_dicts

{'Gender': ['Male', 'Female', 'Other'],
 'Count': [484, 81, 11],
 'Percent of whole': [0.8402777777777778, 0.140625, 0.01909722222222221]}

In [33]:
gender_df=pd.DataFrame(gender_dicts)
gender_format_dict = {'Percent of whole': '{:.2%}'}

#gender_df.set_index('Gender')
gender_df.set_index('Gender').style.format(gender_format_dict)

In [34]:
# Purchasing Analysis (Gender)
gender_puchase_df = {
        "Gender" : ["Male", "Female", "Other"],
        "Purchase Count"  : [tot_male_purcnt, tot_female_purcnt, tot_other_purcnt],
        "Average Purchase Price" : [ave_price_male, ave_price_female, ave_purchase_tot_other],
        "Total Purchase Value" : [tot_male_val, tot_female_val,tot_other_val],
        "Avg Total Purchase per Person":[ave_purchase_tot_mal, ave_purchase_tot_fem,ave_purchase_tot_other]
    } 

purchase_table=pd.DataFrame(gender_puchase_df)
format_dict = {'Average Purchase Price':'${0:,.2f}','Total Purchase Value':'${0:,.2f}','Avg Total Purchase per Person': '${0:,.2f}'}
purchase_table.style.format(format_dict).hide_index()

In [35]:
# create bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 1000]
bin_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [36]:
# building player age dataframe
unique_players = game_df[['SN','Age']]

unique_play_df= pd.DataFrame(unique_players)

unique_play_df['Age Bin']= pd.cut(unique_play_df['Age'], bins, labels=bin_names)                        

#group by the age bin labels
unique_play_df = unique_play_df.groupby('Age Bin')

#get unique players per group
count_t = unique_play_df['SN'].nunique()

#calc percent by group
per_t= count_t/player_count

#create new DF
age_demo_df = pd.DataFrame({"Tot Count" : count_t, "Percentage of Players" : per_t})

#mapping format to Percentage column in dataframe
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{:.2%}".format)

age_demo_df

         Tot Count Percentage of Players
Age Bin
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [37]:
# purchase analysis by AGE
# use prior DF unique_play_df

pur_table = game_df[['SN','Age', 'Item ID', 'Item Name', 'Price']]

pur_table_df= pd.DataFrame(pur_table)

pur_table_df['Age Bin']= pd.cut(pur_table_df['Age'], bins, labels=bin_names)                        

#group by the age bin labels
pur_table_df = pur_table_df.groupby('Age Bin')

#calculations (adding in unique people per bin)

age_pur_cnt = pur_table_df['Item ID'].count()

age_ave_price = pur_table_df['Price'].mean()

tot_spend = pur_table_df['Price'].sum()

ave_spend_per = tot_spend/count_t

#create new DF
age_pur_tab_df = pd.DataFrame(
    {"Purchase Count" : age_pur_cnt, 
     "Unique people" : count_t,
     "Average Purchase Price" : age_ave_price,
     "Total Purchase Value": tot_spend,
     "Avg Total Purchase per Person": ave_spend_per}
    )

#mapping format in dataframe
age_pur_tab_df["Average Purchase Price"] = age_pur_tab_df["Average Purchase Price"].map("${:.2f}".format)
age_pur_tab_df["Total Purchase Value"] = age_pur_tab_df["Total Purchase Value"].map("${:.2f}".format)
age_pur_tab_df["Avg Total Purchase per Person"] = age_pur_tab_df["Avg Total Purchase per Person"].map("${:.2f}".format)   

age_pur_tab_df

,Purchase Count,Unique people,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Bin,,,,,
<10,23,17,$3.35,$77.13,$4.54
10-14,28,22,$2.96,$82.78,$3.76
15-19,136,107,$3.04,$412.89,$3.86
20-24,365,258,$3.05,$1114.06,$4.32
25-29,101,77,$2.90,$293.00,$3.81
30-34,73,52,$2.93,$214.00,$4.12
35-39,41,31,$3.60,$147.67,$4.76
40+,13,12,$2.94,$38.24,$3.19

In [38]:
# Top spenders

top_spenders =  game_df[['SN', 'Item ID', 'Item Name', 'Price']]

spenders_table_df= pd.DataFrame(top_spenders)

#group by the Name
pur_table_df = spenders_table_df.groupby('SN')

items_purch = pur_table_df['Item ID'].count()

ave_pur_price = pur_table_df['Price'].mean()

tot_spend_value = pur_table_df['Price'].sum()

#create new DF
spend_table= pd.DataFrame(
    {"Purchase Count" : items_purch, 
     "Average Purchase Price" : ave_pur_price,
     "Total Purchase Value": tot_spend_value})

#mapping format in dataframe
spend_table["Average Purchase Price"] = spend_table["Average Purchase Price"].map("${:.2f}".format)
#spend_table["Total Purchase Value"] = spend_table["Total Purchase Value"].map("${:.2f}".format)

#sort dataframe by total purchase value
spend_table.sort_values("Total Purchase Value", ascending=False)

             Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                  $3.79                 18.96
Idastidru52               4                  $3.86                 15.45
Chamjask73                3                  $4.61                 13.83
Iral74                    4                  $3.40                 13.62
Iskadarya95               3                  $4.37                 13.10
...                     ...                    ...                   ...
Ililsasya43               1                  $1.02                  1.02
Irilis75                  1                  $1.02                  1.02
Aidai61                   1                  $1.01                  1.01
Chanirra79                1                  $1.01                  1.01
Alo38                     1                  $1.00                  1.00

[576 rows x 3 columns]

In [39]:
# Most popular Items

top_items =  game_df[['Item ID', 'Item Name', 'Price']]

top_items_df= pd.DataFrame(top_items)
                      
#group by the Item ID and Item Name
item_table_df = top_items_df.groupby(['Item ID', 'Item Name'])
                      
item_quant = item_table_df['Item ID'].count()

item_ave_price = item_table_df['Price'].mean()

item_tot_spend = item_table_df['Price'].sum()

# create new DF
spend_table= pd.DataFrame(
     {"Purchase Count" : item_quant, 
      "Item Price" : item_ave_price,
      "Total Purchase Value": item_tot_spend})

# mapping format in dataframe
spend_table["Total Purchase Value"] = spend_table["Total Purchase Value"].map("${:.2f}".format)
spend_table["Item Price"] = spend_table["Item Price"].map("${:.2f}".format)


# sort dataframe by total purchase value
spend_table.sort_values("Purchase Count", ascending=False)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
...,...,...,...,...
42,The Decapitator,1,$1.75,$1.75
51,Endbringer,1,$4.66,$4.66
118,"Ghost Reaver, Longsword of Magic",1,$2.17,$2.17
104,Gladiator's Glaive,1,$1.93,$1.93
91,Celeste,1,$4.17,$4.17

In [52]:
# Most profitable Items

profit_table= pd.DataFrame(
     {"Purchase Count" : item_quant, 
      "Item Price" : item_ave_price,
      "Total Purchase Value": item_tot_spend})

# sort dataframe by total purchase value
profit_table= profit_table.sort_values("Total Purchase Value", ascending=False)

# mapping format in dataframe
profit_table["Item Price"]=profit_table["Item Price"].astype(float).map("${:.2f}".format)
profit_table["Total Purchase Value"]=profit_table["Total Purchase Value"].astype(float).map("${:.2f}".format)

profit_table

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80
...,...,...,...,...
28,"Flux, Destroyer of Due Diligence",2,$1.06,$2.12
125,Whistling Mithril Warblade,2,$1.00,$2.00
126,Exiled Mithril Longsword,1,$2.00,$2.00
104,Gladiator's Glaive,1,$1.93,$1.93
42,The Decapitator,1,$1.75,$1.75